
body {
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(19, 19, 44);
}

header {
    margin: 0%;
    background-color: red;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}
.Logo {
    margin: 0;
    height: 6vh;
}

.hamb {
    display: none;
}

.menu {
    width: 50%;
    background-color: red;
    display: contents;
    align-items: center;
    justify-content: space-evenly;
}

.Logo {
    height: 60px;
}

.LinkMenu {
    text-decoration: none;
    color: aliceblue;
    font-size: 2em;
    /* margin-left: 60px;
    margin-right: 60px;
    float: right;
    margin-top: 10px; */
}

.Texto1 {
    background-image: url("img/PlanoFundo2.jpg");
    width: 100%;
    height: 500px;
    color: white;
}

.Texto1 h1 {
    color: white;
    font-size: 3em;
}

.Texto2 img {
    width: 60%;
    height: 500px;
}

.Texto2 {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Texto21 {
    height: 40%;
    justify-items: baseline;
    align-items: flex-start;
   color: aliceblue;
}


.Texto21 h1 {
    float: right;
    height: 40%;
}

/*
.Texto2 p {
    float: right;
    width: 50%;
}
*/


@media screen and (max-width:800px) {

    .menu {
        display: none;
    }

    .hamb {
        display: inline;
    }

}